[Unit]
Description=ntopng high-speed web-based traffic monitoring and analysis tool
After=network.target syslog.target redis.service pf_ring.service cluster.service mysql.service
Requires=
Wants=redis.service
PartOf=redis.service

[Service]
Type=simple

Environment=UNIT_NAME=%N
Environment=INSTANCE_NAME=%i

ExecStartPre=/bin/sh -c '/bin/sed "/^[ ]*-e.*$\\|^[ ]*-G.*\\|^[ ]*--daemon.*\\|^[ ]*--pid.*/s/^/#/" /etc/ntopng/ntopng-%i.conf > /run/ntopng-%i.conf'

ExecStart=/usr/bin/ntopng /run/ntopng-%i.conf

ExecStopPost=-/bin/rm -rf /run/ntopng-%i.conf /run/ntopng.pid

Restart=on-abnormal
RestartSec=5

[Install]
WantedBy=multi-user.target
Alias=
